/* Background image untuk desktop */
body {
	background-image: url("/img/background/background2.jpg");
	background-size: cover; /* Gambar akan menutupi seluruh area */
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh; /* Full height untuk body */
	margin: 0;
}

/* Untuk tampilan mobile */
@media (max-width: 768px) {
	body {
        background-image: url('/img/background/background2.jpg');
		background-size: cover;
		background-position: center;
	}
}
